/*@import url('/fonts/Roboto-Regular.ttf');
@import url('/fonts/Roboto-Light.ttf');
@import url('/fonts/Roboto-Thin.ttf');
*/
body{
  background: #38ef7d;
}
section.stile-bg{
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
}
.stile-green-gradient-bg{
  background: #38ef7d;
  background: -webkit-linear-gradient( to left top, #38ef7d, #11998e);
  background: -moz-linear-gradient( to left top, #38ef7d, #11998e);
  background: -ms-linear-gradient( to left top, #38ef7d, #11998e);
  background: -o-linear-gradient( to left top, #38ef7d, #11998e);
  background: linear-gradient( to left top, #38ef7d, #11998e);
}
.stile-slide1-title{
  color: white;
  text-align: center;
  font-family:Roboto;
  font-weight: 200;
  font-size: 70px;
}
.stile-slide1-subtitle{
  color: white;
  text-align: center;
  font-family:Roboto;
  font-weight: 300;
  font-size: 20px;
}
.stile-slide2-title{
  color: white;
  text-align: center;
  font-family:Roboto;
  font-weight: 200;
  font-size: 50px;
}
.stile-info-footer{
  text-align: center;
  border: 1px solid white;
  border-radius: 40px;
  height: 90%;
  width: 10%;
  color: white;
}
.stile-info-footer:hover{
  background-color: white;
  color: #11998e;
}
#stile-generic-div{
  text-align: center;
}
.stile-box{
  margin: 1%;
  margin-top: 5%;
  height: 100%;
  width: 40%;
  border: 1px solid lightgray;
  border-radius: 25px;
  background-color: rgb(190, 250, 190);
  color: transparent;
  display: inline-block;
  padding: 5px;
  color: #11998e;
  /*box-shadow: 5px 5px 5px #888888;*/
}
.stile-box-text{
  margin: 1% 5%;
  color: #11998e;
}
.stile-table{
  background-color: rgb(190, 250, 190);
  width: 60%;
  margin: auto;
  border: 1px solid #11998e;
  border-radius: 25px;
}
tr, td{
  border-bottom: 1px solid #11998e;
  margin: auto;
  padding: 2px;
  top: 10%;
  color: #11998e;
}
img{
  padding:10px;
  border-radius:8%;
}
